/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.vs/Pixiegram/FileContentIndex/20cbb5b0-33f3-40ae-ae59-ef555e12e01f.vsidx
/.vs/Pixiegram/FileContentIndex/8616bfe6-a3f5-470a-9b91-984193b06d18.vsidx
/.vs/Pixiegram/FileContentIndex/8dccb9e7-b5db-4066-bfa6-55d9380c3b98.vsidx
/.vs/Pixiegram/FileContentIndex/0b084cb3-dfcc-44f0-9644-7e1c9bb4bcc6.vsidx
/.vs/Pixiegram/FileContentIndex/2fe41d08-6cbe-4086-833e-6bfc07288b07.vsidx
/.vs/Pixiegram/FileContentIndex/3b711d67-a42a-4a01-879f-dc0cf042cdda.vsidx
/.vs/Pixiegram/FileContentIndex/b721e56a-ef98-4eac-b0ca-5ba4bb91c48c.vsidx
/.vs/Pixiegram/FileContentIndex/b8b4b050-e87f-4621-b0ec-2c5b6bf1b7ea.vsidx
/.vs/Pixiegram/FileContentIndex/c1550859-8205-405c-b13d-bcbe3a726d0b.vsidx
/.vs/Pixiegram/FileContentIndex/e28b48a2-c692-4d52-ac21-1771d8ed7332.vsidx
/.vs/Pixiegram/FileContentIndex/e97ba281-bb5d-4b55-9026-1cdace7e34dd.vsidx
/.vs/Pixiegram/FileContentIndex/faf6176b-fb24-4655-8ae4-dd12ff4429ee.vsidx
/.vs/Pixiegram/FileContentIndex/8bf08617-b253-4e1e-8b1f-b7fbd4a5f4a4.vsidx
/.vs/Pixiegram/FileContentIndex
/vendor
/.vs/Pixiegram/v17/DocumentLayout.json
/.vs/Pixiegram/v17/.wsuo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/Pixiegram/v17/workspaceFileList.bin
